profiles {
    standard { includeConfig "config/standard.conf" }
    singularity { includeConfig "config/singularity.conf" }
    slurm { includeConfig "config/slurm.conf" }
}

params {
    runid = "default"
    profilefile = "${baseDir}/data/profiles.Rdata"
    npermutation = 100
    topn = 200
}


trace {   
    enabled = true
    fields = 'task_id,hash,tag,process,status,exit,submit,realtime,%cpu,%mem,peak_rss,peak_vmem'
    file = "${params.report}/runinfo/execution_trace.tsv"
}


timeline {
    enabled = true
    file = "${params.report}/runinfo/execution_timeline.html"
}

report {
    enabled = true
    file = "${params.report}/runinfo/execution_report.html"
}

dag {
    enabled = true
    file = "${params.report}/runinfo/execution_flowchart.html"
}
